@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.header {
    width: 100%;
    height: 588px;
    color: #ffff;
    display: flex;
    background-color: #de16e1;
    margin-bottom: 85px;
}

.btn {
    padding: 8px 10px;
    background: red;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.half {
    width: 50%;
    padding: 40px;
}

.half img {
    width: 100%;
}

h1 {
    font-size: 59px;
}

h3 {
    font-size: 18px;
}

.match-box {
    background: black;
    padding: 45px 0px;
}

.up {
    padding: 11px 20px;
    border-radius: 10px;
    margin: 5px 0;
    cursor: pointer;
}

.datespace {
    padding-bottom: 14px;
}

#lal {
    background-color: #de16e1;
    color: #ffff;
}

.main-box {
    display: flex;
    width: 90%;
    margin: 0 auto;
}

.box {
    width: 184px;
}

.main-box {
    text-align: center;
}

#big {
    flex-grow: 1;
}

.g-box img {
    width: 325px;
    height: 175px;
}



.g-box {
    border: 1px solid gray;
}

.transfer {
    padding: 6px 15px;
    background: white;
    border-radius: 10px;
    cursor: pointer;
}


.all-match {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}




/* footer */

.footer {
    width: 100%;
    height: 444px;
    background-color: #000;
    margin-top: 140px;
}



.goal-part {
    padding: 98px 0px;
    text-align: center;
    color: white;
}

.bor {
    border-bottom: 1px solid #ffff;
    margin: 0px 200px;
}

.end-part a {
    text-decoration: none;
    padding-left: 20px;
    color: #ffff;
}

.end-part {
    display: flex;
    justify-content: center;
}

/* responsive for mobile */

@media only screen and (max-width: 688px) {
    .container {
        width: 90%;
        margin: 0 auto;
    }


    .header {
        width: 100%;
        height: 710px;
        color: #ffff;
        display: flex;
        flex-direction: column;
        background-color: #000;
        margin-bottom: 85px;
    }

    h1 {
        font-size: 22px;
    }

    .all-match {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }

    .main-box {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
    }

    .end-part {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .match-box {

        padding: 45px 0px;
        width: 376px;
        background: white;
    }
}



/* tablet responsive */

@media only screen and (min-width:768px) and (max-width:992px) {
    .container {
        width: 90%;
        margin: 0 auto;
    }

    .header {
        width: 100%;
        height: 398px;
    }


    h1 {
        font-size: 34px;
        font-weight: 700;
    }

    .half {
        width: 50%;
        padding: 40px;
    }

    .half img {
        width: 100%;
    }
}





.team img {
    width: 100px;
    height: 80px;
}

.vs {
    padding: 29px 13px;
    display: inline-block;
}

.team {
    display: flex;
    padding: 38px;
}